body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: #fff;
}

.area {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.anel {
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    animation: ring 2s linear infinite;
}


.anel:before {
    position: absolute;
    content: '';
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px gray;
    border-radius: 50%;
}

@keyframes ring {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px red;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px blue;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px green;
    }
    
}

span {
    color: white;
    font-size: 20px;
    text-transform: 1px;
    line-height: 200px;
    letter-spacing: 1px;
    line-height: 200px;
    animation: text 3s ease-in-out infinite;
}

@keyframes text {
    50%{
        color: black;
    }
}



